In [2]:
import pandas as pd
df=pd.read_csv('fortune500.csv')
df.head(5)

,lon,lat,company,location,industry,state,city
0,-94.2088,36.3729,Walmart,"Bentonville, AR",General Merchandisers,AR,Bentonville
1,-96.9489,32.8140,Exxon Mobil,"Irving, TX",Petroleum Refining,TX,Irving
2,-121.9780,37.7799,Chevron,"San Ramon, CA",Petroleum Refining,CA,San Ramon
3,-95.9980,41.2524,Berkshire Hathaway,"Omaha, NE",Insurance: Property and Casualty (Stock),NE,Omaha
4,-122.0320,37.3230,Apple,"Cupertino, CA","Computers, Office Equipment",CA,Cupertino

In [5]:
l=['lon', 'lat', 'company', 'location', 'industry', 'state', 'city']
m=[obj.upper() for obj in l]
df=df.rename(columns=dict(zip(l,m)))

In [6]:
df.columns

Index(['LON', 'LAT', 'COMPANY', 'LOCATION', 'INDUSTRY', 'STATE', 'CITY'], dtype='object')

In [7]:
df.head(5)

,LON,LAT,COMPANY,LOCATION,INDUSTRY,STATE,CITY
0,-94.2088,36.3729,Walmart,"Bentonville, AR",General Merchandisers,AR,Bentonville
1,-96.9489,32.8140,Exxon Mobil,"Irving, TX",Petroleum Refining,TX,Irving
2,-121.9780,37.7799,Chevron,"San Ramon, CA",Petroleum Refining,CA,San Ramon
3,-95.9980,41.2524,Berkshire Hathaway,"Omaha, NE",Insurance: Property and Casualty (Stock),NE,Omaha
4,-122.0320,37.3230,Apple,"Cupertino, CA","Computers, Office Equipment",CA,Cupertino

In [11]:
df['CITY'].value_counts()

New York          71
Houston           48
Atlanta           23
Chicago           22
St. Louis         15
                  ..
New Britain        1
Taylor             1
Franklin Lakes     1
Orrville           1
Denton             1
Name: CITY, Length: 394, dtype: int64

In [23]:
df.groupby('INDUSTRY').count()

,LON,LAT,COMPANY,LOCATION,STATE,CITY
INDUSTRY,,,,,,
"Advertising, marketing",2,2,2,2,2,2
Aerospace and Defense,22,22,22,22,22,22
Airlines,8,8,8,8,8,8
Apparel,15,15,15,15,15,15
"Automotive Retailing, Services",9,9,9,9,9,9
...,...,...,...,...,...,...
Wholesalers: Diversified,24,24,24,24,24,24
Wholesalers: Electronics and Office Equipment,8,8,8,8,8,8
Wholesalers: Food and Grocery,6,6,6,6,6,6
Wholesalers: Health Care,6,6,6,6,6,6
zMiscellaneous,8,8,8,8,8,8

In [24]:
df[df['INDUSTRY']=='Aerospace and Defense']

,LON,LAT,COMPANY,LOCATION,INDUSTRY,STATE,CITY
26,-87.6298,41.8781,Boeing,"Chicago, IL",Aerospace and Defense,IL,Chicago
44,-72.6851,41.7637,United Technologies,"Hartford, CT",Aerospace and Defense,CT,Hartford
63,-77.0947,38.9847,Lockheed Martin,"Bethesda, MD",Aerospace and Defense,MD,Bethesda
99,-77.1711,38.8823,General Dynamics,"Falls Church, VA",Aerospace and Defense,VA,Falls Church
123,-77.1711,38.8823,Northrop Grumman,"Falls Church, VA",Aerospace and Defense,VA,Falls Church
128,-71.2356,42.3765,Raytheon,"Waltham, MA",Aerospace and Defense,MA,Waltham
218,-71.4128,41.8240,Textron,"Providence, RI",Aerospace and Defense,RI,Providence
251,-74.0059,40.7128,L-3 Communications,"New York, NY",Aerospace and Defense,NY,New York
301,-122.6760,45.5231,Precision Castparts,"Portland, OR",Aerospace and Defense,OR,Portland
389,-76.4730,37.0871,Huntington Ingalls Industries,"Newport News, VA",Aerospace and Defense,VA,Newport News
395,-97.3361,37.6889,Spirit AeroSystems Holdings,"Wichita, KS",Aerospace and Defense,KS,Wichita
506,-91.6656,41.9779,Rockwell Collins,"Cedar Rapids, IA",Aerospace and Defense,IA,Cedar Rapids
538,-77.4478,38.9559,Orbital ATK,"Dulles, VA",Aerospace and Defense,VA,Dulles
602,-80.2684,26.6618,B/E Aerospace,"Wellington, FL",Aerospace and Defense,FL,Wellington
603,-77.1773,38.9339,Exelis,"McLean, VA",Aerospace and Defense,VA,McLean
643,-75.4396,40.0458,Triumph Group,"Berwyn, PA",Aerospace and Defense,PA,Berwyn
824,-78.6134,42.7678,Moog,"East Aurora, NY",Aerospace and Defense,NY,East Aurora
833,-80.8431,35.2271,Curtiss-Wright,"Charlotte, NC",Aerospace and Defense,NC,Charlotte
903,-81.6944,41.4993,TransDigm Group,"Cleveland, OH",Aerospace and Defense,OH,Cleveland
933,-77.1773,38.9339,Delta Tucker Holdings,"McLean, VA",Aerospace and Defense,VA,McLean
971,-122.2010,47.6104,Esterline Technologies,"Bellevue, WA",Aerospace and Defense,WA,Bellevue
996,-87.9790,41.9634,AAR,"Wood Dale, IL",Aerospace and Defense,IL,Wood Dale

In [26]:
sector=df.groupby('INDUSTRY')
sector.groups

{'Advertising, marketing': [199, 371], 'Aerospace and Defense': [26, 44, 63, 99, 123, 128, 218, 251, 301, 389, 395, 506, 538, 602, 603, 643, 824, 833, 903, 933, 971, 996], 'Airlines': [69, 72, 78, 160, 453, 483, 710, 919], 'Apparel': [105, 247, 350, 373, 489, 534, 540, 678, 738, 778, 805, 890, 899, 976, 981], 'Automotive Retailing, Services': [155, 176, 231, 290, 314, 335, 449, 481, 545], 'Beverages': [62, 367, 436, 529, 548, 605, 755, 874], 'Building Materials, Glass': [497, 652, 714, 754, 763, 816], 'Chemicals': [47, 86, 196, 197, 212, 248, 258, 265, 283, 304, 319, 370, 394, 426, 502, 542, 563, 569, 581, 588, 612, 637, 660, 707, 736, 781, 799, 836, 870, 882, 915, 937, 953, 978], 'Commercial Banks': [20, 22, 27, 29, 75, 81, 87, 125, 137, 188, 191, 277, 291, 294, 302, 326, 415, 478, 544, 570, 591, 661, 764, 827, 906, 969], 'Computer Peripherals': [120, 204, 427, 655], 'Computer Software': [30, 80, 404, 482, 567, 571, 584, 604, 670, 808, 861, 912, 994], 'Computers, Office Equipment': [4, 18, 411, 635, 742], 'Construction and Farm Machinery': [53, 85, 153, 295, 376, 628, 641, 728, 962], 'Diversified Financials': [7, 16, 41, 92, 234, 246, 372, 462, 557, 698, 750, 790, 950, 967], 'Diversified Outsourcing Services': [206, 250, 514, 565, 653, 675, 688, 729, 782, 793, 859, 877, 907, 952], 'Education': [669, 745, 929], 'Electronics, Electrical Equip.': [73, 119, 147, 408, 442, 485, 694, 704, 871, 898, 910, 921], 'Energy': [195, 348, 352, 369, 445, 555, 608, 624, 648, 691, 711, 747, 800, 864, 873, 893], 'Engineering, Construction': [135, 238, 285, 342, 360, 420, 423, 479, 561, 572, 869, 928, 983], 'Entertainment': [56, 96, 103, 211, 221, 391, 428, 429, 577, 748, 756, 773, 775, 819, 826, 948], 'Financial Data Services': [237, 264, 307, 421, 467, 493, 499, 511, 723, 806, 841, 848, 850, 876, 885, 920, 941], 'Food Consumer Products': [43, 90, 164, 170, 172, 202, 209, 271, 305, 309, 341, 375, 466, 583, 597, 613, 646, 677, 685, 766, 838, 891, 966], 'Food Production': [33, 68, 82, 243, 416, 461, 568, 621, 735, 802], 'Food Services': [109, 186, 227, 324, 579, 610, 776, 817, 856, 992], 'Food and Drug Stores': [9, 19, 34, 83, 100, 116, 163, 213, 606, 636, 676, 761, 801, 830, 863, 945], 'Forest and Paper Products': [354, 469, 595, 820], 'General Merchandisers': [0, 35, 98, 104, 156, 158, 223, 249, 280, 399, 609, 787], 'Health Care: Insurance and Managed Care': [13, 37, 48, 57, 89, 185, 215, 233, 300, 644, 918, 995], 'Health Care: Medical Facilities': [74, 134, 169, 230, 323, 490, 494, 638, 741, 770, 892], 'Health Care: Pharmacy and Other Services': [21, 374, 413, 439, 475, 586, 689, 788, 815, 825, 884, 932], 'Home Equipment, Furnishings': [260, 333, 347, 454, 587, 622, 757, 758, 943], 'Homebuilders': [353, 363, 452, 576, 627, 734, 829, 886, 894, 956, 990], 'Hotels, Casinos, Resorts': [208, 220, 279, 288, 327, 441, 476, 496, 582, 814, 839, 934], 'Household and Personal Products': [31, 139, 178, 270, 321, 446, 468, 566, 578, 701, 834, 844], 'Industrial Machinery': [200, 229, 345, 527, 541, 558, 625, 631, 681, 692, 746, 769, 771, 785, 791, 792, 795, 804, 822, 851, 872, 905, 968, 985, 993], 'Information Technology Services': [23, 142, 228, 252, 287, 474, 505, 629, 673, 695, 998], 'Insurance: Life, Health (Mutual)': [79, 91, 93, 108, 253, 332, 480, 878, 889, 938], 'Insurance: Life, Health (stock)': [38, 54, 131, 222, 267, 272, 278, 281, 303, 386, 390, 585, 601, 607, 620, 686, 743, 803, 954, 963, 979], 'Insurance: Property and Casualty (Mutual)': [40, 84, 263, 424, 680, 798, 982], 'Insurance: Property and Casualty (Stock)': [3, 45, 77, 88, 111, 121, 152, 159, 210, 214, 284, 313, 357, 384, 435, 458, 471, 498, 503, 510, 524, 553, 575, 614, 751, 823, 949, 997], 'Internet Services and Retailing': [28, 39, 171, 241, 262, 338, 457, 560, 717, 732, 762, 857, 944], 'Mail, Package, and Freight Delivery': [46, 64], 'Medical Products and Equipment': [133, 184, 299, 337, 377, 465, 554, 634, 699, 712, 744, 765, 772, 855, 917, 958, 972], 'Metals': [124, 138, 175, 282, 325, 387, 414, 546, 600, 665, 727, 852, 961, 989], 'Mining, Crude-Oil Production': [50, 114, 136, 141, 151, 161, 166, 217, 226, 349, 378, 397, 495, 504, 519, 535, 559, 593, 617, 633, 651, 666, 720, 737, 767, 810, 812, 821, 858, 887, 888, 902, 925, 960, 984], 'Motor Vehicles and Parts': [5, 8, 65, 157, 165, 173, 174, 275, 311, 340, 343, 346, 393, 409, 640, 656, 667, 687, 706, 716, 783, 784, 811, 955, 973], 'Network and Other Communications Equipment': [59, 112, 296, 362, 486, 491, 516, 556, 580, 639, 683, 724, 927, 946], 'Oil and Gas Equipment, Services': [95, 118, 126, 274, 356, 447, 522, 549, 654, 659, 719, 777, 914, 942, 986, 991], 'Packaging, Containers': [113, 292, 317, 331, 365, 398, 450, 463, 515, 521, 533, 598, 599, 626, 837, 924], 'Petroleum Refining': [1, 2, 6, 12, 24, 76, 140, 148, 149, 154, 203, 344, 456, 501, 715, 733], 'Pharmaceuticals': [36, 55, 70, 117, 144, 145, 150, 194, 297, 368, 379, 537, 574, 663, 713, 789, 940], 'Pipelines': [52, 58, 66, 192, 236, 328, 405, 448, 632, 658, 664, 693, 740, 922, 957, 974], 'Publishing, Printing': [257, 330, 440, 530], 'Railroads': [122, 239, 255, 842], 'Real estate': [320, 477, 484, 487, 528, 697, 739, 813, 828, 847, 895, 931], 'Scientific,Photographic and Control Equipment': [146, 180, 388, 618, 674, 867, 896, 897, 939, 965], 'Securities': [266, 334, 355, 425, 434, 520, 564, 590, 619, 630, 679, 703, 726, 731, 807, 862, 935, 980, 999], 'Semiconductors and Other Electronic Components': [51, 189, 190, 232, 318, 339, 407, 431, 472, 552, 562, 721, 725, 768, 779, 794, 866, 868, 880, 900, 901, 926], 'Specialty Retailers: Apparel': [102, 187, 261, 268, 383, 531, 532, 536, 647, 700, 702, 705, 780, 818, 840, 843, 854, 865, 964], 'Specialty Retailers: Other': [17, 32, 49, 71, 132, 193, 201, 244, 259, 276, 293, 306, 310, 329, 364, 380, 381, 385, 392, 401, 422, 459, 473, 500, 543, 550, 596, 645, 649, 662, 668, 684, 708, 722, 760, 809, 860, 875, 909, 913, 923, 930, 988], 'Telecommunications': [11, 14, 42, 94, 129, 167, 207, 316, 400, 418, 451, 517, 539, 611, 650, 657, 883], 'Temporary Help': [143, 470, 551, 959], 'Tobacco': [101, 168, 336, 512, 853, 911], 'Toys, Sporting Goods': [438, 594], 'Transportation Equipment': [430, 432, 573, 615, 947], 'Transportation and Logistics': [224, 412, 455, 672, 908], 'Trucking, Truck Leasing': [406, 433, 509, 592, 718, 786, 796, 831, 970], 'Utilities: Gas and Electric': [110, 115, 162, 177, 181, 182, 183, 205, 225, 235, 240, 242, 245, 254, 256, 269, 273, 312, 366, 382, 403, 417, 437, 464, 518, 523, 525, 526, 682, 696, 709, 730, 752, 832, 835, 845, 881, 975, 977], 'Waste Management': [216, 322, 690, 849, 987], 'Wholesalers: Diversified': [67, 179, 198, 289, 298, 315, 359, 402, 410, 419, 444, 507, 508, 513, 547, 589, 623, 671, 759, 797, 879, 904, 916, 936], 'Wholesalers: Electronics and Office Equipment': [61, 106, 107, 130, 219, 488, 492, 774], 'Wholesalers: Food and Grocery': [60, 127, 351, 358, 396, 642], 'Wholesalers: Health Care': [10, 15, 25, 286, 308, 616], 'zMiscellaneous': [97, 361, 443, 460, 749, 753, 846, 951]}

In [28]:
df[(df['INDUSTRY']=='Pharmaceuticals') & (df['COMPANY']=='Pfizer')]

        LON      LAT COMPANY      LOCATION         INDUSTRY STATE      CITY
55 -74.0059  40.7128  Pfizer  New York, NY  Pharmaceuticals    NY  New York

In [29]:
df[df['INDUSTRY']=='Semiconductors and Other Electronic Components']

,LON,LAT,COMPANY,LOCATION,INDUSTRY,STATE,CITY
51,-121.9550,37.3541,Intel,"Santa Clara, CA",Semiconductors and Other Electronic Components,CA,Santa Clara
189,-116.2150,43.6187,Micron Technology,"Boise, ID",Semiconductors and Other Electronic Components,ID,Boise
190,-82.6400,27.7731,Jabil Circuit,"St. Petersburg, FL",Semiconductors and Other Electronic Components,FL,St. Petersburg
232,-96.7970,32.7767,Texas Instruments,"Dallas, TX",Semiconductors and Other Electronic Components,TX,Dallas
318,-121.9550,37.3541,Applied Materials,"Santa Clara, CA",Semiconductors and Other Electronic Components,CA,Santa Clara
339,-117.7950,33.6839,Broadcom,"Irvine, CA",Semiconductors and Other Electronic Components,CA,Irvine
407,-121.9000,37.4323,SanDisk,"Milpitas, CA",Semiconductors and Other Electronic Components,CA,Milpitas
431,-121.8860,37.3382,Sanmina,"San Jose, CA",Semiconductors and Other Electronic Components,CA,San Jose
472,-122.0360,37.3688,Advanced Micro Devices,"Sunnyvale, CA",Semiconductors and Other Electronic Components,CA,Sunnyvale
552,-121.9550,37.3541,Nvidia,"Santa Clara, CA",Semiconductors and Other Electronic Components,CA,Santa Clara
562,-121.9890,37.5483,Lam Research,"Fremont, CA",Semiconductors and Other Electronic Components,CA,Fremont
721,-112.0740,33.4484,ON Semiconductor,"Phoenix, AZ",Semiconductors and Other Electronic Components,AZ,Phoenix
725,-111.9400,33.4255,Amkor Technology,"Tempe, AZ",Semiconductors and Other Electronic Components,AZ,Tempe
768,-121.9000,37.4323,KLA-Tencor,"Milpitas, CA",Semiconductors and Other Electronic Components,CA,Milpitas
779,-71.1990,42.1944,Analog Devices,"Norwood, MA",Semiconductors and Other Electronic Components,MA,Norwood
794,-95.4319,29.1694,Benchmark Electronics,"Angleton, TX",Semiconductors and Other Electronic Components,TX,Angleton
866,-75.5138,40.0362,Vishay Intertechnology,"Malvern, PA",Semiconductors and Other Electronic Components,PA,Malvern
868,-90.4298,38.7131,SunEdison,"Maryland Heights, MO",Semiconductors and Other Electronic Components,MO,Maryland Heights
880,-121.8860,37.3382,Maxim Integrated Products,"San Jose, CA",Semiconductors and Other Electronic Components,CA,San Jose
900,-121.8860,37.3382,Xilinx,"San Jose, CA",Semiconductors and Other Electronic Components,CA,San Jose
901,-88.4626,44.1858,Plexus,"Neenah, WI",Semiconductors and Other Electronic Components,WI,Neenah
926,-71.1523,42.4793,Skyworks Solutions,"Woburn, MA",Semiconductors and Other Electronic Components,MA,Woburn

In [30]:
df[df['INDUSTRY']=='Apparel']

,LON,LAT,COMPANY,LOCATION,INDUSTRY,STATE,CITY
105,-122.8040,45.4871,Nike,"Beaverton, OR",Apparel,OR,Beaverton
247,-79.7920,36.0726,VF,"Greensboro, NC",Apparel,NC,Greensboro
350,-74.0059,40.7128,PVH,"New York, NY",Apparel,NY,New York
373,-74.0059,40.7128,Ralph Lauren,"New York, NY",Apparel,NY,New York
489,-80.2442,36.0999,Hanesbrands,"Winston-Salem, NC",Apparel,NC,Winston-Salem
534,-74.0059,40.7128,Coach,"New York, NY",Apparel,NY,New York
540,-122.4190,37.7749,Levi Strauss,"San Francisco, CA",Apparel,CA,San Francisco
678,-96.7299,32.9483,Fossil Group,"Richardson, TX",Apparel,TX,Richardson
738,-76.6122,39.2904,Under Armour,"Baltimore, MD",Apparel,MD,Baltimore
778,-84.3880,33.7490,Carter's,"Atlanta, GA",Apparel,GA,Atlanta
805,-85.5600,43.1200,Wolverine World Wide,"Rockford, MI",Apparel,MI,Rockford
890,-118.2440,34.0522,Guess,"Los Angeles, CA",Apparel,CA,Los Angeles
899,-118.4110,33.8847,Skechers U.S.A.,"Manhattan Beach, CA",Apparel,CA,Manhattan Beach
976,-74.0059,40.7128,G-III Apparel Group,"New York, NY",Apparel,NY,New York
981,-122.6760,45.5231,Columbia Sportswear,"Portland, OR",Apparel,OR,Portland

In [34]:
df[df['INDUSTRY']=='Airlines']

,LON,LAT,COMPANY,LOCATION,INDUSTRY,STATE,CITY
69,-97.3308,32.7555,American Airlines Group,"Fort Worth, TX",Airlines,TX,Fort Worth
72,-84.3880,33.7490,Delta Air Lines,"Atlanta, GA",Airlines,GA,Atlanta
78,-87.6298,41.8781,United Continental Holdings,"Chicago, IL",Airlines,IL,Chicago
160,-96.7970,32.7767,Southwest Airlines,"Dallas, TX",Airlines,TX,Dallas
453,-73.9564,40.7413,JetBlue Airways,"Long Island City, NY",Airlines,NY,Long Island City
483,-122.3320,47.6062,Alaska Air Group,"Seattle, WA",Airlines,WA,Seattle
710,-113.5680,37.0965,SkyWest,"St. George, UT",Airlines,UT,St. George
919,-157.8580,21.3069,Hawaiian Holdings,"Honolulu, HI",Airlines,HI,Honolulu

In [36]:
sector.get_group('Transportation Equipment').shape

(5, 7)

In [37]:
sector.get_group('Food Production')

,LON,LAT,COMPANY,LOCATION,INDUSTRY,STATE,CITY
33,-87.6298,41.8781,Archer Daniels Midland,"Chicago, IL",Food Production,IL,Chicago
68,-93.0427,44.8480,CHS,"Inver Grove Heights, MN",Food Production,MN,Inver Grove Heights
82,-94.1288,36.1867,Tyson Foods,"Springdale, AR",Food Production,AR,Springdale
243,-74.0059,40.7128,Leucadia National,"New York, NY",Food Production,NY,New York
416,-94.7152,39.0228,Seaboard,"Shawnee Mission, KS",Food Production,KS,Shawnee Mission
461,-87.8807,41.8498,Ingredion,"Westchester, IL",Food Production,IL,Westchester
568,-83.6538,41.5628,Andersons,"Maumee, OH",Food Production,OH,Maumee
621,-96.9489,32.8140,Darling Ingredients,"Irving, TX",Food Production,TX,Irving
735,-80.8431,35.2271,Chiquita Brands International,"Charlotte, NC",Food Production,NC,Charlotte
802,-89.1306,31.6941,Sanderson Farms,"Laurel, MS",Food Production,MS,Laurel

In [38]:
sector.get_group('Automotive Retailing, Services')

,LON,LAT,COMPANY,LOCATION,INDUSTRY,STATE,CITY
155,-80.1373,26.1224,AutoNation,"Fort Lauderdale, FL","Automotive Retailing, Services",FL,Fort Lauderdale
176,-83.2455,42.5836,Penske Automotive Group,"Bloomfield Hills, MI","Automotive Retailing, Services",MI,Bloomfield Hills
231,-77.4360,37.5407,CarMax,"Richmond, VA","Automotive Retailing, Services",VA,Richmond
290,-95.3698,29.7604,Group 1 Automotive,"Houston, TX","Automotive Retailing, Services",TX,Houston
314,-80.8431,35.2271,Sonic Automotive,"Charlotte, NC","Automotive Retailing, Services",NC,Charlotte
335,-74.4174,40.8653,Avis Budget Group,"Parsippany, NJ","Automotive Retailing, Services",NJ,Parsippany
449,-84.1446,34.0029,Asbury Automotive Group,"Duluth, GA","Automotive Retailing, Services",GA,Duluth
481,-122.8760,42.3265,Lithia Motors,"Medford, OR","Automotive Retailing, Services",OR,Medford
545,-98.1245,29.7030,Rush Enterprises,"New Braunfels, TX","Automotive Retailing, Services",TX,New Braunfels

In [40]:
sector['LAT'].mean()

INDUSTRY
Advertising, marketing                           40.712800
Aerospace and Defense                            40.008214
Airlines                                         35.988775
Apparel                                          38.723560
Automotive Retailing, Services                   35.347989
                                                   ...
Wholesalers: Diversified                         37.895937
Wholesalers: Electronics and Office Equipment    35.342263
Wholesalers: Food and Grocery                    38.031650
Wholesalers: Health Care                         40.217617
zMiscellaneous                                   36.005550
Name: LAT, Length: 74, dtype: float64