In [2]:
import pandas as pd
df=pd.read_csv('fortune500.csv')
df.head(5)

,lon,lat,company,location,industry,state,city
0,-94.2088,36.3729,Walmart,"Bentonville, AR",General Merchandisers,AR,Bentonville
1,-96.9489,32.8140,Exxon Mobil,"Irving, TX",Petroleum Refining,TX,Irving
2,-121.9780,37.7799,Chevron,"San Ramon, CA",Petroleum Refining,CA,San Ramon
3,-95.9980,41.2524,Berkshire Hathaway,"Omaha, NE",Insurance: Property and Casualty (Stock),NE,Omaha
4,-122.0320,37.3230,Apple,"Cupertino, CA","Computers, Office Equipment",CA,Cupertino

In [5]:
l=['lon', 'lat', 'company', 'location', 'industry', 'state', 'city']
m=[obj.upper() for obj in l]
df=df.rename(columns=dict(zip(l,m)))

In [6]:
df.columns

Index(['LON', 'LAT', 'COMPANY', 'LOCATION', 'INDUSTRY', 'STATE', 'CITY'], dtype='object')