In [15]:
import pandas as pd
df1=pd.DataFrame({'key':[chr(65+i) for i in range(5)],'val':range(5)})
df1.head()

  key  val
0   A    0
1   B    1
2   C    2
3   D    3
4   E    4

In [16]:
df2=pd.DataFrame({'key':[chr(70+i) for i in range(3)],'val':range(3)})
df2.head()

  key  val
0   F    0
1   G    1
2   H    2

In [17]:
df=pd.concat([df1,df2])

In [18]:
df3=pd.DataFrame({"key":[chr(65+i) for i in range(8)],'test':["pass" if i%2==0 else "Fail" for i in range(8)]})
df3.head(8)

  key  test
0   A  pass
1   B  Fail
2   C  pass
3   D  Fail
4   E  pass
5   F  Fail
6   G  pass
7   H  Fail